<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IniciarSesionController</servlet-name>
        <servlet-class>pe.com.vs.controller.IniciarSesionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesionController</servlet-name>
        <servlet-class>pe.com.vs.controller.CerrarSesionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoController</servlet-name>
        <servlet-class>pe.com.vs.controller.AlumnoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoRetiradoController</servlet-name>
        <servlet-class>pe.com.vs.controller.AlumnoRetiradoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApoderadoController</servlet-name>
        <servlet-class>pe.com.vs.controller.ApoderadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurriculaController</servlet-name>
        <servlet-class>pe.com.vs.controller.CurriculaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursoController</servlet-name>
        <servlet-class>pe.com.vs.controller.CursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamenController</servlet-name>
        <servlet-class>pe.com.vs.controller.ExamenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventoController</servlet-name>
        <servlet-class>pe.com.vs.controller.EventoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeccionController</servlet-name>
        <servlet-class>pe.com.vs.controller.SeccionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesorController</servlet-name>
        <servlet-class>pe.com.vs.controller.ProfesorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoController</servlet-name>
        <servlet-class>pe.com.vs.controller.ProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TareaPendienteController</servlet-name>
        <servlet-class>pe.com.vs.controller.TareaPendienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TardanzaController</servlet-name>
        <servlet-class>pe.com.vs.controller.TardanzaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreguntaController</servlet-name>
        <servlet-class>pe.com.vs.controller.PreguntaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalController</servlet-name>
        <servlet-class>pe.com.vs.controller.PersonalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpcionController</servlet-name>
        <servlet-class>pe.com.vs.controller.OpcionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotaController</servlet-name>
        <servlet-class>pe.com.vs.controller.NotaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModalidadController</servlet-name>
        <servlet-class>pe.com.vs.controller.ModalidadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MensualidadController</servlet-name>
        <servlet-class>pe.com.vs.controller.MensualidadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleMensualidadController</servlet-name>
        <servlet-class>pe.com.vs.controller.DetalleMensualidadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatriculaController</servlet-name>
        <servlet-class>pe.com.vs.controller.MatriculaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MateriaController</servlet-name>
        <servlet-class>pe.com.vs.controller.MateriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GradoController</servlet-name>
        <servlet-class>pe.com.vs.controller.GradoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamenEnLineaController</servlet-name>
        <servlet-class>pe.com.vs.controller.ExamenEnLineaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>pe.com.vs.controller.UsuarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesionController</servlet-name>
        <url-pattern>/IniciarSesionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesionController</servlet-name>
        <url-pattern>/CerrarSesionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoController</servlet-name>
        <url-pattern>/AlumnoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoRetiradoController</servlet-name>
        <url-pattern>/AlumnoRetiradoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApoderadoController</servlet-name>
        <url-pattern>/ApoderadoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurriculaController</servlet-name>
        <url-pattern>/CurriculaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursoController</servlet-name>
        <url-pattern>/CursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamenController</servlet-name>
        <url-pattern>/ExamenController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventoController</servlet-name>
        <url-pattern>/EventoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeccionController</servlet-name>
        <url-pattern>/SeccionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfesorController</servlet-name>
        <url-pattern>/ProfesorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoController</servlet-name>
        <url-pattern>/ProductoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TareaPendienteController</servlet-name>
        <url-pattern>/TareaPendienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TardanzaController</servlet-name>
        <url-pattern>/TardanzaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreguntaController</servlet-name>
        <url-pattern>/PreguntaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalController</servlet-name>
        <url-pattern>/PersonalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpcionController</servlet-name>
        <url-pattern>/OpcionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotaController</servlet-name>
        <url-pattern>/NotaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModalidadController</servlet-name>
        <url-pattern>/ModalidadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MensualidadController</servlet-name>
        <url-pattern>/MensualidadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleMensualidadController</servlet-name>
        <url-pattern>/DetalleMensualidadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatriculaController</servlet-name>
        <url-pattern>/MatriculaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MateriaController</servlet-name>
        <url-pattern>/MateriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradoController</servlet-name>
        <url-pattern>/GradoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamenEnLineaController</servlet-name>
        <url-pattern>/ExamenEnLineaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
